@{
  ViewData["Title"] = "Home Page";
}

@using Eol.ViewModels

@model LoginViewModel

<!-- <h2>Log in with your account</h2>
<hr/> -->
<br />
<br />

<div class="row justify-content-center login-page">
  <div class="container col-4">
    <div class="card login-card">
      <div class="login-banner">
        Log In
      </div>
      <div class="form-logo card-body" style="text-align:center;">
        <br />
        <!-- <img src="~/img/EOL-NEW-SVG.svg" style="width: 240px; margin: 10px auto;"> -->
        <img src="~/img/EOL.svg" style="width: 175px; margin: 10px auto;">
        <br />
      </div>
      <div class="card-body divider">
      </div>
      <div class="card-body">
        @using (Html.BeginForm())
        {
          @Html.LabelFor(m => m.UserName, new { @class = "account-label" })
          @Html.TextBoxFor(m => m.UserName, new { @class = "form-control account-input login-input" })
          <br />
          @Html.LabelFor(m => m.Password, new { @class = "account-label" })
          @Html.EditorFor(m => m.Password, new
            {
              htmlAttributes = new
              {
                @class = "form-control account-input login-input"
              }
            })
          <div class="login-links">
            <input type="submit" value="Log In" class="btn-login" />
            @Html.ActionLink("Cancel", "Index")
            @Html.ActionLink("Register Account", "Register")
            <br />
            <br />
          </div>
        }
      </div>
    </div>
    <br />
  </div>

  @if (!ViewData.ModelState.IsValid)
  {
    <div class="container col-4">
      <div class="card error-card">
        <div class="card-header">
          <div class="error-banner">
            Log In Error
            <span class="close-error" style="float: right;">
              @Html.ActionLink("X", "Login")
            </span>
          </div>
        </div>
        <div class="card-body">
          @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:", new
            {
              @class =
                 "text-danger"
            })
        </div>
      </div>
    </div>
  }

</div>
