@{
    ViewData["Title"] = "Home Page";
}

@using Eol.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr/>

<div class="row justify-content-center login-page">

  @if(!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
  }

  <div class="container col-4">
    <div class="card login-card">
      <div class="card-header">
        Log In
      </div>
      <div class="card-body" style="text-align:center;">
        <br/>
        EOL LOGO HERE?
        <br/>
        <hr/>
      </div>
      <div class="card-body">
        @using (Html.BeginForm())
        {
          @Html.LabelFor(m => m.UserName)
          <br/>
          @Html.TextBoxFor(m => m.UserName, new { @class="form-control" })
          <br/>
          @Html.LabelFor(m => m.Password)
          <br/>
          @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class="form-control" }})
          <br/>
          <br/>
          <div class="login-links">
            <input type="submit" value="Log In" class="btn btn-primary" />
            <br/>
            <br/>
            <p>@Html.ActionLink("Register Account", "Register")</p>
            <p>@Html.ActionLink("Go Back", "Index")</p>
          </div>
        }
      </div>
    </div>
  </div>

</div>