@{
  ViewData["Title"] = "Home Page";
}

@using Eol.ViewModels
@model RegisterViewModel

<!-- <h2>Register a new user</h2>
<hr/> -->

<br />
<br />

<div class="row justify-content-center register-page">

  <div class="container col-4">
    <div class="card register-card">
      <div class="card-header">
        <div class="register-banner">
          Register
        </div>
      </div>
      <div class="form-logo card-body" style="text-align:center;">
        <br />
        <img src="~/img/EOL.svg" style="width: 175px; margin: 10px auto;">
        <br />
        <hr />
      </div>
      <div class="card-body divider">
      </div>
      <div class="card-body">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
          @Html.LabelFor(user => user.UserName)
          <br />
          @Html.TextBoxFor(user => user.UserName, new { @class = "form-control account-input" })
          <br />
          @Html.LabelFor(user => user.Email)
          <br />
          @Html.TextBoxFor(user => user.Email, new { @class = "form-control account-input" })
          <br />
          @Html.LabelFor(user => user.Password)
          <br />
          @Html.EditorFor(user => user.Password, new { htmlAttributes = new { @class = "form-control account-input" } })
          @Html.LabelFor(user => user.ConfirmPassword)
          <br />
          @Html.EditorFor(user => user.ConfirmPassword, new
            {
              htmlAttributes = new
              {
                @class = "form-control account-input"
              }
            })
          <div class="register-links">
            <input type="submit" value="Register" class="btn-register" />
            @Html.ActionLink("Back", "Index")
            @Html.ActionLink("Log In", "Login")
            <br />
            <br />
          </div>
        }
      </div>
    </div>
    <br />
  </div>

  @if (!ViewData.ModelState.IsValid)
  {
    <div class="container col-4">
      <div class="card error-card">
        <div class="card-header">
          <div class="error-banner">
            Registration Error
            <span class="close-error" style="float: right;">
              @Html.ActionLink("X", "Register")
            </span>
          </div>
        </div>
        <div class="card-body">
          @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:", new
            {
              @class =
                 "text-danger"
            })
        </div>
      </div>
    </div>
  }

</div>