@{
    ViewData["Title"] = "Home Page";
}

@using Eol.ViewModels
@model RegisterViewModel

<h2>Register a new user</h2>
<hr/>

<div class="row justify-content-center register-page">

  <div class="container col-4">
    <div class="card register-card">
      <div class="card-header">
        Register
      </div>
      <div class="card-body" style="text-align:center;">
        <br/>
        EOL LOGO HERE?
        <br/>
        <hr/>
      </div>
      <div class="card-body">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
          @Html.LabelFor(user => user.UserName)
          <br/>
          @Html.TextBoxFor(user => user.UserName, new { @class="form-control" })
          <br/>
          @Html.LabelFor(user => user.Email)
          <br/>
          @Html.TextBoxFor(user => user.Email, new { @class="form-control" })
          <br/>
          @Html.LabelFor(user => user.Password)
          <br/>
          @Html.EditorFor(user => user.Password, new { htmlAttributes = new { @class="form-control" }})
          @Html.LabelFor(user => user.ConfirmPassword)
          <br/>
          @Html.EditorFor(user => user.ConfirmPassword, new { htmlAttributes = new { @class="form-control" }})
          <br/>
          <br/>
          <div class="register-links">
            <input type="submit" value="Register" class="btn btn-primary"/>
            <br/>
            <br/>
            <p>@Html.ActionLink("Log In", "Login")</p>
            <p>@Html.ActionLink("Go Back", "Index")</p>
          </div>
        }
    </div>
  </div>
  </div>
  
  @if(!ViewData.ModelState.IsValid)
    {
      <div class="container col-4">
        <div class="card">
          <div class="card-header">
            Registration Error
            <span class="close-register-error" style="float: right;">
              @Html.ActionLink("X", "Register")
            </span>
          </div>
          <div class="card-body">
            @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:", new { @class = "text-danger" })
          </div>
        </div>
      </div>
    }

</div>